AI-Powered Customer Support Email Automation/Customer Support Workflow.json
{
  "name": "Customer Support Workflow",
  "nodes": [
    {
      "parameters": {
        "content": "## Customer Support Workflow",
        "height": 544,
        "width": 1840,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        320
      ],
      "id": "54a033f1-1c11-4306-9439-0df2dcb8894b",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        16,
        464
      ],
      "id": "c9defcc5-5146-4cb2-aa11-5262adc6827e",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "uF30b5Ol3UiKsBhU",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        736,
        656
      ],
      "id": "32140ca0-1ecf-40fd-b6c9-aab938ac0179",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "This an answers for the FAQ about Al \nFaysalia Crew service company, it contains the policy and some info",
        "pineconeIndex": {
          "__rl": true,
          "value": "demo1536",
          "mode": "list",
          "cachedResultName": "demo1536"
        },
        "options": {
          "pineconeNamespace": "FAQ Al Faysalia"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        1104,
        544
      ],
      "id": "b52b9f0d-bbbf-4b4a-8fd4-a0ca3d19f7a0",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "NRf7i3iOuGhsQ6RW",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1472,
        688
      ],
      "id": "c673ff62-b3ba-45ae-bff2-41d2d2410de6",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "hlhZnOWmlw6SLbRV",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "emailType": "text",
        "message": "={{ $('Customer support agent').item.json.output }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1584,
        432
      ],
      "id": "c9032abb-cc29-4b48-ba37-392403686851",
      "name": "Reply to a message",
      "webhookId": "d507e35b-db97-4496-8d07-5134010c997c",
      "credentials": {
        "gmailOAuth2": {
          "id": "uF30b5Ol3UiKsBhU",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "CATEGORY_UPDATES"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1392,
        432
      ],
      "id": "b4c59a14-3a77-42ee-beff-31ece511297b",
      "name": "Add label to message",
      "webhookId": "b0beeb06-3c2c-4715-8c37-c1b524176855",
      "credentials": {
        "gmailOAuth2": {
          "id": "uF30b5Ol3UiKsBhU",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "inputText": "={{ $json.text }}",
        "categories": {
          "categories": [
            {
              "category": "Customer Support",
              "description": "If an email is asked about an inquire or info or a question related to Al Faysalia Crew Service company."
            },
            {
              "category": "Other",
              "description": "Any email that is not customer support related"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        240,
        464
      ],
      "id": "68591ec4-0526-4558-a08e-7b8b5a7f70b6",
      "name": "Email Classification"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "You will be given an email related to Al Faysalia Crew Service, write a formal reply message to it, use the Knowledge base to get the needed info.\nMake sure to reply with the body of the email only.\nYour name is Mr. Helpful Arafa, use it when you sign off."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        704,
        448
      ],
      "id": "7878d31d-fd82-4d5d-8978-d82828aeabcd",
      "name": "Customer support agent"
    },
    {
      "parameters": {
        "model": "qwen/qwen3-8b:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        320,
        688
      ],
      "id": "862718bc-231b-4c20-873d-c0d7c16538fd",
      "name": "Qwen3",
      "credentials": {
        "openRouterApi": {
          "id": "xbPYTymo64gfSsEw",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "model": "deepseek/deepseek-chat-v3.1:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        480,
        704
      ],
      "id": "344e60a1-01ea-4189-9d48-746956a35b1f",
      "name": "Deepseek v3.1",
      "credentials": {
        "openRouterApi": {
          "id": "xbPYTymo64gfSsEw",
          "name": "OpenRouter account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Email Classification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_tool": [
        [
          {
            "node": "Customer support agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Add label to message": {
      "main": [
        [
          {
            "node": "Reply to a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Classification": {
      "main": [
        [
          {
            "node": "Customer support agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Customer support agent": {
      "main": [
        [
          {
            "node": "Add label to message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qwen3": {
      "ai_languageModel": [
        [
          {
            "node": "Email Classification",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Deepseek v3.1": {
      "ai_languageModel": [
        [
          {
            "node": "Customer support agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f8c00d21-c8da-483a-a4c8-8b763ffd200b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d439f3ae536d0c8dd0587c6939d88d457c04d19cc3a201f64ba2ed92a2b9a6ef"
  },
  "id": "RYuJuyUuxZUe04g4",
  "tags": [
    {
      "createdAt": "2025-09-17T22:20:30.271Z",
      "updatedAt": "2025-09-17T22:20:30.271Z",
      "id": "hftJI3b6ZK8waaYL",
      "name": "Workflow"
    }
  ]
}