Automated LinkedIn Post and Image Generation Pipeline/Automated LinkedIn Post and Image Generation Pipeline.json
{
  "name": "Send an Email with Attachment",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        176,
        240
      ],
      "id": "b7cc90b6-eca7-4cdb-951b-410292981558",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "24YfSHK5VAkSruOL",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "query": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Query', ``, 'string') }}",
        "options": {}
      },
      "type": "@tavily/n8n-nodes-tavily.tavilyTool",
      "typeVersion": 1,
      "position": [
        400,
        240
      ],
      "id": "1d16aa1f-2a72-4ee6-8b9d-d2738d3c93e9",
      "name": "Search in Tavily",
      "credentials": {
        "tavilyApi": {
          "id": "TubkbOygZ8dAOiYp",
          "name": "Tavily account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=topic: {{ $json.Topic }}\ntarget audience: {{ $json['Target Audience'] }}",
        "options": {
          "systemMessage": "=You are a LinkedIn Content Creator AI.\nYour job is to generate engaging and professional LinkedIn captions for the user.\n\nWhen the user provides you with:\n\nA topic (what the post is about)\n\nA target audience (who the post is aimed at)\n\nHow you should work:\n\nIf the topic requires fresh, accurate, or detailed information, call the tool tavily_search with the topic as the query. Use the returned insights to enrich the content.\n\nUnderstand the topic clearly and adapt the tone to appeal to the target audience.\n\nWrite a catchy opening line or hook to grab attention.\n\nExpand with insightful, concise, and professional content (2–4 short paragraphs or bullet points).\n\nEnd with a call-to-action or engaging closing line (e.g., asking for thoughts, sharing insights, or encouraging discussion).\n\nKeep the post clear, creative, and easy to read.\n\nAvoid jargon, and ensure it feels natural for LinkedIn.\n\n⚠️ Only use tavily_search when additional research is necessary. Do not invent or guess information."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        208,
        0
      ],
      "id": "55e69688-7acf-4d07-9f16-7cc5e2b6c7bb",
      "name": "Content creator"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "chatgpt-4o-latest"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        608,
        256
      ],
      "id": "b225d021-00ac-406c-8492-e6d41f046ffd",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "hlhZnOWmlw6SLbRV",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Note\nI sent email to test it instead of posting in LinkedIn.\n"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1232,
        224
      ],
      "id": "c3e523f5-da29-474c-82cf-63c6487ebee2",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Content Form').item.json.Email }}",
        "subject": "AI AGENT TEST",
        "emailType": "text",
        "message": "={{ $('Content creator').item.json.output }}",
        "options": {
          "appendAttribution": false,
          "attachmentsUi": {
            "attachmentsBinary": [
              {}
            ]
          }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1328,
        0
      ],
      "id": "76de77b3-fd4c-497b-a7a8-a3b3de580905",
      "name": "Send The Post",
      "webhookId": "6f927d33-016e-400f-9853-a716e9f9adb3",
      "credentials": {
        "gmailOAuth2": {
          "id": "uF30b5Ol3UiKsBhU",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=target audience: {{ $('Content Form').item.json['Target Audience'] }}\nCaption: {{ $json.output }}",
        "options": {
          "systemMessage": "=System Prompt:\n\nYou are a LinkedIn Visual Prompt Engineer AI.\nYour role is to craft detailed, cinematic-quality prompts for an AI image generator.\n\nInstructions:\n\nThe user will provide:\n\nA caption (text/content of the LinkedIn post).\n\nA target audience (who the post is aimed at).\n\nAnalyze both inputs and create a descriptive image prompt that:\n\nMatches the caption’s theme.\n\nAppeals to the target audience.\n\nSpecifies cinematic photography style (depth of field, dramatic lighting, professional composition).\n\nEnsures the result is high-quality and LinkedIn-ready.\n\nAlways output only the image prompt text, nothing else.\n\nDo not invent irrelevant elements — keep the prompt aligned with the caption and audience."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        560,
        0
      ],
      "id": "ef134852-ecc8-4982-b8e6-b8cb617fdb39",
      "name": "Write Image Prompt"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/images/generations",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "dall-e-2"
            },
            {
              "name": "prompt",
              "value": "={{ $json.output }}"
            },
            {
              "name": "n",
              "value": "={{1}}"
            },
            {
              "name": "size",
              "value": "1024x1024"
            },
            {
              "name": "response_format",
              "value": "b64_json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        912,
        0
      ],
      "id": "eb764022-3056-4dfd-9dc5-1d3f0a985f30",
      "name": "Generate the image",
      "credentials": {
        "httpHeaderAuth": {
          "id": "HzhgmzolvwFwBmhq",
          "name": "Dell e auth"
        }
      }
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data[0].b64_json",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1120,
        0
      ],
      "id": "189181dd-6551-4eac-9232-e9b33af4c51b",
      "name": "Convert Base64 to file"
    },
    {
      "parameters": {
        "formTitle": "Description",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Topic",
              "requiredField": true
            },
            {
              "fieldLabel": "Email",
              "requiredField": true
            },
            {
              "fieldLabel": "Target Audience",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        0,
        0
      ],
      "id": "87b732d1-c1c6-45ba-a668-b1479a98129a",
      "name": "Content Form",
      "webhookId": "8817bf94-6490-40ba-9fef-c89f8f786e4b"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Content creator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Content creator": {
      "main": [
        [
          {
            "node": "Write Image Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Write Image Prompt",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Search in Tavily": {
      "ai_tool": [
        [
          {
            "node": "Content creator",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Write Image Prompt": {
      "main": [
        [
          {
            "node": "Generate the image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate the image": {
      "main": [
        [
          {
            "node": "Convert Base64 to file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert Base64 to file": {
      "main": [
        [
          {
            "node": "Send The Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Content Form": {
      "main": [
        [
          {
            "node": "Content creator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6e66bdc2-f408-4db2-a098-7903aa9781be",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d439f3ae536d0c8dd0587c6939d88d457c04d19cc3a201f64ba2ed92a2b9a6ef"
  },
  "id": "aGHWdbx1vPtz9cdQ",
  "tags": [
    {
      "createdAt": "2025-09-17T22:20:30.271Z",
      "updatedAt": "2025-09-17T22:20:30.271Z",
      "id": "hftJI3b6ZK8waaYL",
      "name": "Workflow"
    }
  ]
}